<h2><%= listing.title %></h2>
<p><%= listing.address %></p>
<p><%= "$#{listing.price_per_hour}/hour" %></p>
<p><%=   "â­ #{listing.avg_rating}" %></p>
<%= link_to "more info", listing_path(listing), class: 'btn btn-primary' %>
