<!-- Header -->
<div class="container">

<div class="listings_header">
  <p>100+ yards available for your search</p>
  <h1><strong>Yards in Montreal</strong></h1>
  <p>filters:</p>
  <div class="listings_dropdowns">
    <!-- Build drop downs/interface for filtering results -->
  </div>
</div>

<!-- Cards -->
<div class="cards_listing_container">


  <% @listings.each do |listing| %>

    <hr>

    <div class="card_listing">
      <div class="listing_img">
        <%= cl_image_tag listing.photo.key, crop: :thumb %>
        <!-- <img src=@listing.photo.key /> -->
      </div>
      <div class="listing_text">
        <h2><%= listing.title %></h2>
        <p><%= listing.description %></p>
        <p><strong>Average rating: <%= listing.avg_rating %></strong></p>
        <hr>
      </div>
      <div class="listing_price">
        <h3><strong>$<%= listing.price_per_hour %>0/hour</strong></h3>
      </div>
    </div>


  <% end %>
</div>
