<div class="container my-5">
  <h2>My Listings</h2>
  <br>
  <div class="row">
    <div class="col-9">
      <% current_user.listings.each do |listing| %>
        <div class="d-flex justify-content-between align-items-center">
          <h3><%= listing.title %></h3>
          <div>
            <%= link_to "Show", listing_path(listing) %>
            <span> | </span>
            <%= link_to "Edit", edit_listing_path(listing) %>
          </div>
        </div>
        <% if listing.bookings == [] %>
          <!-- <h5>No bookings yet</h5> -->
          <p><em>no reservations</em></p>
        <% else %>
          <% listing.bookings.each do |booking| %>
            <div class="card-booking ">
              <%= cl_image_tag booking.listing.photos[0].key %>
              <div class="card-booking-infos p-3">
                <p><strong>Name: </strong> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                <p><strong>Total price:</strong> $ <%= (booking.end_date - booking.start_date) / 3600 * booking.listing.price_per_hour %> </p>
                <p><strong>Dates:</strong> <%= booking.start_date.strftime("%b %e, %l:%M %p") %> - <%= booking.end_date.strftime("%b %e, %l:%M %p") %></p>
                <p><strong>Occupancy:</strong> <%= booking.occupancy %></p>
                <p><strong>Status:</strong> <em><%= booking.status.capitalize %></em></p>
                <br>
                <% if booking.status == "pending" %>
                  <%= link_to "Approve", booking_confirm_path(booking), method: :patch %>
                  <span> | </span>
                  <%= link_to "Deny", booking_reject_path(booking), method: :patch %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

