<div class="container my-5">
  <h2>My Listings</h2>
  <div class="row">
    <div class="col-9">
      <% current_user.listings.each do |listing| %>
        <h3><%= listing.title %></h3>
        <% if listing.bookings == [] %>
          <h5>No bookings yet</h5>
        <% else %>
          <% listing.bookings.each do |booking| %>
            <div class="card-booking my-3">
              <%= cl_image_tag booking.listing.photo.key %>
              <div class="card-booking-infos p-3">
                <p>Name: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
                <p>Total price: $ <%= (booking.end_date - booking.start_date) / 6000 * booking.listing.price_per_hour %> </p>
                <p>Dates: <%= booking.start_date.strftime("%b %e, %l:%M %p") %> - <%= booking.end_date.strftime("%b %e, %l:%M %p") %></p>
                <p>Occupancy: <%= booking.occupancy %></p>
                <p>Status: <strong><%= booking.status.capitalize %></strong></p>
                <% if booking.status == "pending" %>
                  <%= link_to "Approve", booking_confirm_path(booking), method: :patch %>
                  <%= link_to "Deny", booking_reject_path(booking), method: :patch %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

