<div class="container">
  <%= simple_form_for [@listing, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :occupancy, label: "Number of guests" %>
    <%= f.submit "Send my new booking request" %>
  <% end %>
</div>
