<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1585917641362-9fbb6fcfc371?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1564&q=80);">
  <div class="container">
    <h2>OurYard brings you the perfect outdoor space, no matter the occasion.</h2>
    <p>Reserve your yard now.</p>
    <%= link_to "Explore", listings_path, class: "btn btn-primary px-5 py-2" %>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Create a new listing', new_listing_path, class: 'btn btn-success btn-listing px-3 py-2 m-3' %>
</div>
<!-- Cards -->
<h3 class="top mx-5">Our top 3 picks for you!</h3>
<div class="home-card-container">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing) do %>
      <div class="home-card rounded p-3">
        <% listing.photos.each do |photo| %>
          <%= cl_image_tag(listing.photo.key, alt: "", crop: :thumb) %>
        <% end %>
        <div class="home-card-infos p-2">
          <div>
            <h3><%= listing.title %></h3>
            <p class="description"><%= listing.description %></p>
            <p class="rating"><%= "Average rating: #{listing.avg_rating}" %></p>
          </div>
          <div class="container d-flex justify-content-between p-0 mt-1">
            <p class="stars">⭐️⭐️⭐️⭐️⭐️</p>
            <h5 class="home-card-pricing"><%= "$#{listing.price_per_hour}/hour" %></h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
