<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1585917641362-9fbb6fcfc371?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1564&q=80);">
  <div class="container">
    <h1>OurYard brings you the perfect outdoor space, no matter the occasion.</h1>
    <p>Reserve your yard now.</p>
    <%= link_to "Explore", listings_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Create a new listing', new_listing_path, class: 'btn btn-success m-2' %>
</div>
<!-- Cards -->
<div class="card_container">
  <% @listings.each do |listing| %>
    <div class="card-yard">
      <%= cl_image_tag(listing.photo.key, alt: "", crop: :thumb) %>
      <div class="card-yard-infos">
        <div>
          <h2><%= listing.title %></h2>
          <p><%= listing.description %></p>
        </div>
        <h2 class="card-yard-pricing"><%= "$#{listing.price_per_hour}/hour" %></h2>
        <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
      </div>
    </div>
  <% end %>
</div>
